@model Proyecto_Inmobiliaria_MVC.Models.LoginView

@if (!String.IsNullOrEmpty(@ViewBag.Error))
{
    <div class="container">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Información:</strong> @ViewBag.Error
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
            </button>
        </div>
    </div>
}
<hr />

<h4 class="text-center">Iniciar Sesión:</h4>
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-controller="Usuarios" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}