
@{
    ViewData["Title"] = "Restringido";
}

<h1>Restringido</h1>

<p>Solo las personas con un Rol mayor pueden ejecutar esta accion.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-warning">Volver a la Lista</a>